@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 97, 123, 150; /* RGB representation of #617b96 */
  --background-start-rgb: 1, 11, 21; /* RGB representation of #010b15 */
  --background-end-rgb:
    1, 11, 21; /* Using the same for both start and end in this case */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb:
      97, 123, 150; /* RGB for dark theme, but same as above for consistent colors */
    --background-start-rgb:
      1, 13, 21; /* Same as above, keeping it consistent */
    --background-end-rgb: 1, 11, 21; /* Same as above, consistent dark theme */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(
    var(--background-start-rgb)
  ); /* Set a solid background color */
}

.vs-code-700 {
  font-family: var(----font-inconsolata);
  font-weight: 700;
}
.vs-code-400 {
  font-family: var(----font-inconsolata);
  font-weight: 400;
}
.vs-code-300 {
  font-family: var(----font-inconsolata);
  font-weight: 300;
}

::-moz-selection {
  background: #afafaf;
}
::-webkit-selection {
  background: #afafaf;
}
::selection {
  background: #afafaf;
}
